* {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

main {
    grid-area: main;
}

.aside-bar {
    background-color: antiquewhite;
    min-height: 40vh;
    padding: 25px;
}

.aside-bar ul {
    list-style: none;
}


.grilla .card {
    text-align: center;
    padding: 20px;
}

.grilla .card img {
    width: 200px;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;  
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    gap: 10px;
}

.grid-container main {
    display: grid;
    grid-template-columns: auto 80%;
    gap: 10px;
}


.grid-container .grilla {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
}
